.right
  .right__englishName
    %span{"class"=>"word"} PORTFOLIO
    %span{"class"=>"word"} YUYA NISHIMURA
  .right__japanName
    = link_to root_path, class:'right__japanName__content' do
      %span{"class"=>"words"} 西
      %span{"class"=>"words"} 村
      %span{"class"=>"words"} 佑
      %span{"class"=>"words"} 也
