.main
  = render "left"
  .center
    .contact
      %iframe{:frameborder => "0", :height => "677", :marginheight => "0", :marginwidth => "0", :src => "https://docs.google.com/forms/d/e/1FAIpQLSe9E_wN2ZlE_vUfFy3ntUo3EuvL7gV_4LZOmoCowuOtpyk2Pg/viewform?embedded=true", :width => "640"} 読み込んでいます…
  = render "right"