.main
  = render "left"
  .center
    .sns
      .sns__title
        SNS
      .sns__body
        .sns__body__mypage
          = image_tag "ã‚µãƒ ãƒ.png", size:"250x250", class: "samune"
          %a.twitter-follow-button{"data-show-count" => "false", "data-show-screen-name" => "false", "data-size" => "large", :href => "https://twitter.com/yuevo16_3?ref_src=twsrc%5Etfw"}
            Follow @yuevo16_3
          %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
          .sns__body__mypage__text
            %span{"class"=>"text"} ãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°Ã—è‹±ä¼šè©±ã§äººç”Ÿå¤‰ãˆã¾ã™ðŸ’ª
            %span{"class"=>"text"} é«˜å°‚å’â‡¨å¤§æ‰‹æ–°å’å…¥ç¤¾â‡¨å¡¾è¬›å¸«å‰¯æ¥­â‡¨å…¨ã¦è¾žã‚ã¦TECH::EXPERT66æœŸã¸
            %span{"class"=>"text"} â‡¨å’æ¥­å¾Œã€å°±æ´»ï¼†è‹±ä¼šè©±ã‚‚å‹‰å¼·ä¸­
            %span{"class"=>"text"} ãƒ—ãƒ­ã‚°ãƒ©ãƒŸãƒ³ã‚°ã¨è‹±ä¼šè©±ã§æœ‰ç›Šã ã¨æ€ã£ãŸæƒ…å ±ã‚„ã€
            %span{"class"=>"text"} ã‚¢ã‚¦ãƒˆãƒ—ãƒƒãƒˆã—ãŸå†…å®¹ã‚’ã¤ã¶ã‚„ãã¾ã™ï¼ã¿ã‚“ãªã§å…±æœ‰ã—åˆã„ã¾ã—ã‚‡ã†âœ¨
        .sns__body__timeline
          %a.twitter-timeline{:href => "https://twitter.com/yuevo16_3?ref_src=twsrc%5Etfw",width: "400px",height: "600px"}
            Tweets by yuevo16_3
          %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
  = render "right"