.center {
  font-family: 'Sawarabi Mincho', sans-serif;
  height: 100vh;
  width: 70vw;
  display: block;
  .portfolio {
    &__title {
      height: 15vh;
      font-size: 3em;
      line-height: 3em;
    }
    &__body {
      height: 80vh;
      font-size: 1.5em;
      &__content1 {
        display: flex;
        margin-top: 1em;
        &__link {
          width: 30vw;
          &__text {
            margin-bottom: 1em;
            display: block;
            text-align: center;
            text-decoration: none;
          }
          &__url {
            margin-left: 2em;
            margin-top: 2em;
            font-size: 0.8em;
            display: flex;
            &__basic {
              .id {
                margin-left: 1em;;
                display: block;
              }
            }
            &__pass {
              .id {
                margin-left: 1em;
                display: block;
              }
            }
          }
        }
      }
      &__content2 {
        display: flex;
        margin-top: 1em;
        &__link {
          width: 30vw;
          &__text {
            margin-bottom: 1em;
            display: block;
            text-align: center;
            text-decoration: none;
          }
          &__url {
            margin-left: 5em;
            margin-top: 2em;
            font-size: 0.8em;
            display: flex;
            &__basic {
              .id {
                margin-left: 1em;;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}