.center {
  font-family: 'Sawarabi Mincho', sans-serif;
  height: 100vh;
  width: 70vw;
  &__title {
    // height: 15vh;
    // font-size: 3em;
    // line-height: 3em;
  }
  &__body {
    height: 80vh;
    font-size: 1.5em;
    &__movie {
      height: 100vh;
      width: 60vw;
    }
  }
}